<h1>Collection list</h1>
<div class="container">
    <form (ngSubmit)="addCollection()">
        <div class="form-group">
            <label for="collectionName">Name:</label>
            <input type="text" id="collectionName" [(ngModel)]="newCollection.name" name="name">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>
<div class="container">
    <table class="table-responsive">
        <thead>
            <th>ID</th>
            <th>name</th>
            <th>delete</th>
        </thead>
        <tbody>
            <tr *ngFor="let collection of collections">
                <td><span style="color:blue">{{collection._id}}</span></td>
                <td>{{collection.name}}</td>
                <td><span style="color:red; cursor: pointer" (click)="deleteCollection(collection._id)">X</span></td>
            </tr>
        </tbody>
    </table>
</div>

